---
const year = new Date().getFullYear();
---

<header class="bg-white dark:bg-gray-900">
	<nav aria-label="Global" class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8">
		<div class="flex lg:flex-1">
			<span class="dark:text-white">Clayton Builds</span>
		</div>
		<div class="lg:flex lg:gap-x-12">
			<a href="#" class="dark:text-white">Projects</a>
			<a href="#" class="dark:text-white">About</a>
			<a href="#" class="dark:text-white">Contact</a>
		</div>
	</nav>
</header>
<main>
	<section>
		<h1 class="mb-2">Welcome!</h1>
		<h2>
			I'm Clayton Phillips-Dorsett, Software Developer/Architect
		</h2>
		<div>
			<a class="button" href="https://docs.astro.build">LinkedIn</a>
			<a class="button" href="https://docs.astro.build">Github</a>
			<a class="button" href="https://docs.astro.build">Instagram</a>
			<a class="button" href="https://docs.astro.build">CV</a>
		</div>
	</section>
	<section>
		<h2>Projects</h2>
	</section>
	<section>
		<h2>About me</h2>
		<p>
			I grew up in beautiful southern Vermont and continue to enjoy all
			things active and outdoors. When I'm not developing you can find me
			on a mountain climbing or snowboarding.
		</p>
		<div><!-- TODO this will shows images, perhaps in a carousel --></div>
	</section>
	<section>
		<h2>Let's collaborate, feel free to reach out</h2>
		<p>claytonphillipsdorsett@gmail.com</p>
	</section>
</main>
<footer>
	<p>© {year} Clayton Phillips-Dorsett. All rights reserved.</p>
	<div>
		<a class="button" href="https://docs.astro.build">LinkedIn</a>
		<a class="button" href="https://docs.astro.build">Github</a>
		<a class="button" href="https://docs.astro.build">Instagram</a>
	</div>
</footer>

